{
  "swagger": "2.0",
  "info": {
    "title": "API Awise",
    "version": "1.0.0",
    "description": "![QuantoSobra](https://www.quantosobra.com.br/wp-content/uploads/2016/04/logotipo_fundo_trans_235px-width.png)\n\n## JSON API\n\nA API do Awise segue a especificação do [JSON API][json-api]. O JSON API é uma especificação de como o corpo das requisições e das respostas deve ser formatado. Para ver exemplos completos e mais detalhes sobre o formato utilizado no JSON API, acesse o [website][json-api].\n\n## Autenticação\n\nA autenticação das chamadas para a API é realizada utilizando-se a técnica [HMAC][wiki-hmac]. Com o HMAC, existe uma identificação pública de quem está realizando a chamada para a API e uma chave privada que é utilizada para assinar a mensagem. A chave privada nunca é incluída nas requisições, sendo utilizada apenas para assinar a mensagem. O servidor, conhecendo a chave privada do cliente, calcula a mesma assinatura da mensagem e, caso as assinaturas calculadas sejam iguais, a chave privada utilizada pelo cliente estava correta e, portanto, o acesso é permitido.\n\nPara fazer o acesso à API, é necessário criar uma sessão (ver `POST /sessions`). Uma sessão inclui um `id` e uma `key`. O `id` é a informação pública que deve ser enviada em todas as requisições no cabeçalho, conforme explicado na especificação do [Acquia HTTP HMAC][acquia-hmac]. A `key` deve ser utilizada apenas para assinar a mensagem HMAC e não deve ser enviada nas requisições.\n\nPara identificar a Empresa acessada, deve-se incluir o cabeçalho `X-Company` com o valor sendo o id da empresa. Esse cabeçalho é obrigatório para todas as requisições, exceto APIs de sessões e listagem de empresas.\n\nPara identificar a Filial acessada, deve-se incluir o cabeçalho `X-Branch` com o valor sendo o id da filial. Esse cabeçalho é obrigatório apenas em algumas requisições (ver abaixo), mas será ignorado (sem causar erros) se for enviado nas requisições em que não é obrigatório.\n\nAo implementar a especificação do Acquia HMAC, os seguintes aspectos devem ser observados:\n\n  - Para o campo Provider (realm) deve ser utilizado sempre o valor `Awise`;\n  - A versão utilizada deve ser a 2.0;\n  - O campo `id` do cabeçalho `Authorization` deve ser preenchido com o `id` da sessão;\n  - A `SecretKey` para assinar a mensagem é o valor da `key` da sessão;\n  - Os cabeçalhos `X-Company` e `X-Branch` devem ser adicionados na assinatura como cabeçalhos adicionais (AdditionalSignedHeaders);\n  - Pode ser utilizada uma das [bibliotecas clientes][acquia-hmac-impl] desenvolvidas pelos autores da especificação para assinar as mensagens.\n\n\n[json-api]: http://jsonapi.org/\n[wiki-hmac]: https://en.wikipedia.org/wiki/Hash-based_message_authentication_code\n[acquia-hmac]: https://github.com/acquia/http-hmac-spec\n[acquia-hmac-impl]: https://github.com/acquia/http-hmac-spec#implementations\n",
    "termsOfService": "https://www.quantosobra.com.br/termos-de-uso/",
    "contact": {
      "name": "Desenvolvimento QuantoSobra",
      "email": "devs@quantosobra.com.br"
    },
    "license": {}
  },
  "host": "api.useawise.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/vnd.api+json"
  ],
  "produces": [
    "application/vnd.api+json"
  ],
  "parameters": {
    "sort": {
      "name": "sort",
      "in": "query",
      "description": "Sort resources as per the JSON:API specification",
      "required": false,
      "type": "string"
    },
    "include": {
      "name": "include",
      "in": "query",
      "description": "Fetch additional resources as per the JSON:API specification",
      "required": false,
      "type": "string"
    },
    "filter": {
      "name": "filter",
      "in": "query",
      "description": "Filter resources as per the JSON:API specification",
      "required": false,
      "type": "string"
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Limit response payloads as per the JSON:API specification",
      "required": false,
      "type": "string"
    },
    "page": {
      "name": "page",
      "in": "query",
      "description": "Pagination namespace",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/bills": {
      "get": {
        "tags": [
          "bills"
        ],
        "description": "Search for bills",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "bills search response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/bills"
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "bills"
        ],
        "description": "Create a new instance of bills",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New or partial resource",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/bills"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "bills create response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/bills"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/bills/{id}": {
      "get": {
        "tags": [
          "bills"
        ],
        "description": "Get a specific instance of bills",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "bills find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/bills"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/bills/{id}/subscription": {
      "get": {
        "tags": [
          "subscriptions"
        ],
        "description": "Get the subscription instance of a specific instance of bills",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "subscriptions find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/subscriptions"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/bills/{id}/clientData": {
      "get": {
        "tags": [
          "client-data"
        ],
        "description": "Get the clientData instance of a specific instance of bills",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "client-data find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/client-data"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/branch-users": {
      "get": {
        "tags": [
          "branch-users"
        ],
        "description": "Search for branch-users",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "branch-users search response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/branch-users"
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "branch-users"
        ],
        "description": "Create a new instance of branch-users",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New or partial resource",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/branch-users"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "branch-users create response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/branch-users"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/branch-users/{id}": {
      "get": {
        "tags": [
          "branch-users"
        ],
        "description": "Get a specific instance of branch-users",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "branch-users find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/branch-users"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "branch-users"
        ],
        "description": "Delete an instance of branch-users",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "branch-users delete response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "branch-users"
        ],
        "description": "Update an instance of branch-users",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New or partial resource",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/branch-users"
                }
              }
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "branch-users update response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/branch-users"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/branch-users/{id}/companyUser": {
      "get": {
        "tags": [
          "company-users"
        ],
        "description": "Get the companyUser instance of a specific instance of branch-users",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "company-users find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/company-users"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/branch-users/{id}/branch": {
      "get": {
        "tags": [
          "branches"
        ],
        "description": "Get the branch instance of a specific instance of branch-users",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "branches find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/branches"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/branch-users/{id}/user": {
      "get": {
        "tags": [
          "users"
        ],
        "description": "Get the user instance of a specific instance of branch-users",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "users find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/users"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/branch-users/{id}/invitation": {
      "get": {
        "tags": [
          "invites"
        ],
        "description": "Get the invitation instance of a specific instance of branch-users",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "invites find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/invites"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/branches": {
      "get": {
        "tags": [
          "branches"
        ],
        "description": "Search for branches",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "branches search response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/branches"
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "branches"
        ],
        "description": "Create a new instance of branches",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New or partial resource",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/branches"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "branches create response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/branches"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/branches/{id}": {
      "get": {
        "tags": [
          "branches"
        ],
        "description": "Get a specific instance of branches",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "branches find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/branches"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "branches"
        ],
        "description": "Update an instance of branches",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New or partial resource",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/branches"
                }
              }
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "branches update response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/branches"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/branches/{id}/company": {
      "get": {
        "tags": [
          "companies"
        ],
        "description": "Get the company instance of a specific instance of branches",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "companies find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/companies"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-register-transactions": {
      "get": {
        "tags": [
          "cash-register-transactions"
        ],
        "description": "Search for cash-register-transactions",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "cash-register-transactions search response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/cash-register-transactions"
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-register-transactions/{id}": {
      "get": {
        "tags": [
          "cash-register-transactions"
        ],
        "description": "Get a specific instance of cash-register-transactions",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "cash-register-transactions find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/cash-register-transactions"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-register-transactions/{id}/generator": {
      "get": {
        "tags": [
          "installments"
        ],
        "description": "Get the generator instance of a specific instance of cash-register-transactions",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "installments find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/installments"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-register-transactions/{id}/cashRegister": {
      "get": {
        "tags": [
          "cash-registers"
        ],
        "description": "Get the cashRegister instance of a specific instance of cash-register-transactions",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "cash-registers find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/cash-registers"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-register-transactions/{id}/openingCashRegisterTransaction": {
      "get": {
        "tags": [
          "cash-register-transactions"
        ],
        "description": "Get the openingCashRegisterTransaction instance of a specific instance of cash-register-transactions",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "cash-register-transactions find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/cash-register-transactions"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-register-transactions/{id}/company": {
      "get": {
        "tags": [
          "companies"
        ],
        "description": "Get the company instance of a specific instance of cash-register-transactions",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "companies find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/companies"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-register-transactions/{id}/branch": {
      "get": {
        "tags": [
          "branches"
        ],
        "description": "Get the branch instance of a specific instance of cash-register-transactions",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "branches find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/branches"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-register-transactions/{id}/cashier": {
      "get": {
        "tags": [
          "company-users"
        ],
        "description": "Get the cashier instance of a specific instance of cash-register-transactions",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "company-users find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/company-users"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-registers": {
      "get": {
        "tags": [
          "cash-registers"
        ],
        "description": "Search for cash-registers",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "cash-registers search response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/cash-registers"
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "cash-registers"
        ],
        "description": "Create a new instance of cash-registers",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New or partial resource",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/cash-registers"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "cash-registers create response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/cash-registers"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-registers/{id}": {
      "get": {
        "tags": [
          "cash-registers"
        ],
        "description": "Get a specific instance of cash-registers",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "cash-registers find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/cash-registers"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "cash-registers"
        ],
        "description": "Delete an instance of cash-registers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "cash-registers delete response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "cash-registers"
        ],
        "description": "Update an instance of cash-registers",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New or partial resource",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/cash-registers"
                }
              }
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "cash-registers update response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/cash-registers"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-registers/{id}/financialAccount": {
      "get": {
        "tags": [
          "financial-accounts"
        ],
        "description": "Get the financialAccount instance of a specific instance of cash-registers",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "financial-accounts find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/financial-accounts"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-registers/{id}/cashiers": {
      "get": {
        "tags": [
          "company-users"
        ],
        "description": "Get the cashiers instances of a specific instance of cash-registers",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "company-users find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/company-users"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-registers/{id}/currentOpeningTransaction": {
      "get": {
        "tags": [
          "cash-register-transactions"
        ],
        "description": "Get the currentOpeningTransaction instance of a specific instance of cash-registers",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "cash-register-transactions find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/cash-register-transactions"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-registers/{id}/company": {
      "get": {
        "tags": [
          "companies"
        ],
        "description": "Get the company instance of a specific instance of cash-registers",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "companies find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/companies"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/cash-registers/{id}/branch": {
      "get": {
        "tags": [
          "branches"
        ],
        "description": "Get the branch instance of a specific instance of cash-registers",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "branches find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/branches"
                },
                "included": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/client-data/{id}": {
      "get": {
        "tags": [
          "client-data"
        ],
        "description": "Get a specific instance of client-data",
        "parameters": [
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id of specific instance to lookup",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "client-data find response",
            "schema": {
              "type": "object",
              "required": [
                "jsonapi",
                "meta",
                "links"
              ],
              "properties": {
                "jsonapi": {
                  "type": "object",
                  "required": [
                    "version"
                  ],
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "meta": {
                  "type": "object"
                },
                "links": {
                  "type": "object",
                  "required": [
                    "self"
                  ],
                  "properties": {
                    "self": {
                      "type": "string"
                    },
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string"
                    },
                    "prev": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "$ref": "#/definitions/client-data"
                },
                "included": {
                  "type": "array",
[...]
